*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

#__next {
  height: 100%;
}

.inner-wrapper {
  width: 100vw;
}